@{
    ViewData["Title"] = "About";
}

<div class="container mt-4">
    <div class="text-left">
        <h1 class="display-4">About Joel Hilton</h1>
        <br />
        <br />
        <br />
        <br />
        <div class="row center-vertically text-center">
            <h3 class="display-6">Quick Wits Comedy</h3>
            <br />
            <p class="lead custom-line-height">
                "Quick Wits is an improvisational comedy troupe that takes audience suggestions to create 
                comedy sketches on the spot. Be ready to yell out fun suggestions and then sit back and 
                watch Utah's Best Improvisers turn it into big laughs." -Quick Wits
            </p>
            <p class="lead custom-line-height">
                Go to <a href="https://www.qwcomedy.com/">Quick Wits</a>
            </p>
        </div>

        <br />
        <br />

        <div class="row center-vertically text-center">
            <div class="col-md-6 text-md-left ">
                <h3 class="display-6">Baconsale</h3>
                <br />
                <p class="lead custom-line-height">
                    From Baconsale: "A comedian, a movie critic, and a barber walk into a family-friendly 
                    pop culture podcast to humorously discuss movies, music, TV, food, video games & more!"
                </p>
                <p class="lead custom-line-height">
                    Go to <a href="https://baconsale.com/">Baconsale</a>
                </p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="https://baconsale.com/">
                    <img class="img-fluid" style="max-height: 300px;" src="~/img/baconsalekate.jpg" alt="Bacon Team with Joel">
                </a>
            </div>
        </div>
    </div>
</div>