@{
    ViewData["Title"] = "Home";
}

<div class="container mt-4">
    <div class="text-center">
        <h1 class="display-4">The Joel Hilton Film Collection</h1>
        <br />
        <br />
        <br />
        <br />
        <div class="row center-vertically">
            <div class="col-md-6 text-md-left ">
                <p class="lead custom-line-height">
                    The overall goal of the website is to streamline the management of Joel Hilton's movie collection,
                    providing a user-friendly interface for entering and storing movie details while also offering additional
                    information about Joel and his extracurricular activities.
                </p>
            </div>
            <div class="col-md-6 text-md-right">
                <img class="img-fluid" style="max-height: 300px;" src="~/img/joelhiltonheadshot.jpg" alt="Joel Hilton Headshot">
            </div>
        </div>
    </div>
</div>
